
.hero {
    position: relative;
 width: 100vw;
overflow-x: hidden;
overflow-y: hidden;
}
.video-container>video {
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    margin-top: 0rem;
    z-index: 2;
}
.img-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    top: 0%;
    margin-top: 0rem;
    z-index: 5;
  
}
.img-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   overflow: hidden !important;
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-top: 7rem;
    padding: 0rem 3rem;
  overflow-y: hidden;
}
.box1, .box2 {
    display: flex;
    flex-direction: row;
  justify-content: center;
 
}
.box1>div:nth-of-type(1),.box2>div:nth-of-type(1) {
    flex: 5;
    display: flex;
    gap: 2rem;
    
}
.box1>div:nth-of-type(2),.box2>div:nth-of-type(2) {
    flex: 1.5;
      display: flex;
      flex-direction: column;
      position: relative;
  
   }
   .box1>div:nth-of-type(3),.box2>div:nth-of-type(3) {
    flex: 4;
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 2rem;
   }
   
.box1>div:nth-of-type(1)>img:nth-of-type(2) {
transform: translateY(10%);
}
.box1>div:nth-of-type(1)>img:nth-of-type(1) {
    width: 150px;
    height: 180px;
    object-fit: cover;
}
.box1>div:nth-of-type(1)>img:nth-of-type(2) {
    width: 380px;
    height: 430px;
    object-fit: cover;
}

.box1>div:nth-of-type(2)>h2 {
    font-size: 110px;
    font-family: w;
    position: absolute;
    top: 0;
    color: #fff;
   
}
.box1>div:nth-of-type(2)>p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    opacity: .6;
    margin-left: 1.5rem;
 margin-top: 6.5rem;
}
.box1>div:nth-of-type(2)>h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #fff;
    font-size: 16px;
    margin-left: 1.5rem;
    opacity: .6;
}
.box1>div:nth-of-type(2)>h5:nth-of-type(1) {
    padding-bottom: 1.5rem;
}
.line {
    height: 1px;
    width: 50px;
    background-color: rgba(255, 255, 255, .1);
    margin:.5rem 0rem 1.5rem 1.5rem;
}

.box1>div:nth-of-type(3)>img:nth-of-type(1) {
    width: 350px;
    height: 170px;
    object-fit: cover;
}
.box1>div:nth-of-type(3)>div>img:nth-of-type(1) {
    width: 180px;
    object-fit: cover;
}
.box1>div:nth-of-type(3)>div {
    display: flex;
    gap: 1.5rem;
}
.box1>div:nth-of-type(3)>div>img:nth-of-type(2) {
    width: 200px;
    height: 200px;
    object-fit: cover;
}



.box2>div:nth-of-type(1)>img:nth-of-type(1) {
    width: 200px;
    height: 250px;
    object-fit: cover;
    transform: translateY(100%);
}
.box2>div:nth-of-type(1)>img:nth-of-type(2) {
    width: 380px;
    height: 430px;
    object-fit: cover;
}

.box2>div:nth-of-type(2)>h2 {
    font-size: 100px;
    font-family: w;
    position: absolute;
    top: 6%;
    left: 17%;
    color: #fff;
    display: flex;
    gap: 0.8rem;
   
}
.box2>div:nth-of-type(2)>p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    opacity: .6;
    margin-left: 3.5rem;
 margin-top: 8.5rem;
}
.box2>div:nth-of-type(2)>h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #fff;
    font-size: 16px;
    margin-left: 3.5rem;
    opacity: .6;
}
.box2>div:nth-of-type(2)>h5:nth-of-type(1) {
    padding-bottom: 1.5rem;
}
.line1 {
    margin-left: 3.5rem;
}

.box2>div:nth-of-type(3)>img:nth-of-type(1) {
    width: 220px;
    height: 300px;
    object-fit: cover;
    
}
.box2>div:nth-of-type(3)>img:nth-of-type(2) {
    width: 180px;
    height: 200px;
    object-fit: cover;
}
.box2>div:nth-of-type(3)>img:nth-of-type(3) {
    width: 380px;
    height: 200px;
    object-fit: cover;
}


.box3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box3>div:nth-of-type(1) {
    flex: 5;
display: flex;
flex-direction: column;
}
.box3>div:nth-of-type(2) {
    flex: 2;
}
.box3>div:nth-of-type(3) {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3>div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.imga {
    display: flex;
    gap: 3rem;
}
.box3>div:nth-of-type(1)>.imga>img:nth-of-type(1) {
    width: 220px;
    height: 280px;
    object-fit: cover;
}
.box3>div:nth-of-type(1)>.imga>img:nth-of-type(2) {
    width: 220px;
    height: 200px;
    object-fit: cover;
}
.box3>div:nth-of-type(1)>img:nth-of-type(1) {
    width: 280px;
    height: 200px;
    object-fit: cover;
}
.box3>div:nth-of-type(1)>img:nth-of-type(2) {
    width: 250px;
    height: 220px;
    transform: translate(15rem,-10rem);
    object-fit: cover;
}

.box3>div:nth-of-type(3)>img {
    width: 450px;
    justify-content: center;
    object-fit: cover;
    height: auto;
}

.box3>div:nth-of-type(2) {
    position: relative;
    display: flex;
    flex-direction: column;
}
.box3>div:nth-of-type(2)>h2 {
    font-size: 100px;
    font-family: w;
    display: flex;
    gap: 0.8rem;
   position: absolute;
    left: 17%;
    color: #fff;
    top: 6%;
   
}
.box3>div:nth-of-type(2)>p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    opacity: .6;
    margin-left: 3.5rem;
 margin-top: 8.5rem;
}
.box3>div:nth-of-type(2)>h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #fff;
    font-size: 16px;
    margin-left: 3.5rem;
    opacity: .6;
}
.box3>div:nth-of-type(2)>h5:nth-of-type(1) {
    padding-bottom: 1.5rem;
}
.line1 {
    margin-left: 3.5rem;
}
.text-content {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
.sm {
    font-size: 40px;
    color: #fff;
    font-family: w;
}
.bg {
    font-size: 100px;
    color: #fff;
    font-family: w;
}
.text-content>div:nth-of-type(1) {
    position: absolute;
    top: 20%;
    z-index: 9;
    left: 24%;
}
.text-content>div:nth-of-type(2) {
    position: absolute;
    top: 25%;
    left: 24%;
    z-index: 9;
}
.text-content>div:nth-of-type(3) {
    position: absolute;
  left: 58%;
  top: 44%;
  z-index: 3;
}

.text-content>div:nth-of-type(4) {
    position: absolute;
   top: 60%;
   left: 58%;
   z-index: 9;
}
.b-text {
    z-index: 9;
    position: absolute;
    bottom: 9%;
}
.b-text>p {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: rgb(255, 255, 255,.9);
    letter-spacing: 10px;
    text-transform: uppercase;
}

.inner-text {
    display: flex;
    justify-content: center;
   align-items: center;
   margin-top: -5rem;
    padding: 0rem 4rem;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}
.text1 {
    flex: 1;
    position: relative;
}
.m-text {
    display: flex;
    position: relative;
}
.m-text>div:nth-of-type(2) {
position: absolute;
top: -25%;
left: 33%;
}
.m-text>div:nth-of-type(3) {
    position: absolute;
    top: 80%;
    left: 20%;
    }

.p-text {
  position: absolute;
    display: flex;
    flex-direction: column;
width: 40%;
margin-top: 10rem;
}
.p-text>p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: .8rem;
    line-height: 1.3rem;
    font-size: 14px;
    color: rgb(255, 255, 255,1);
    font-weight: 300;
}
.text2 {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: flex-end;

}
.text2>div {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: rgb(255, 255, 255,.6);
    display: flex;
    justify-content: center;
    position: relative;
    left: -15%;
}
.text2>div>h3 {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 0.6rem;
    top: 43%;
    font-weight: 300;
    font-size: 16px;
margin-left: -3rem;

}


@media screen and (max-width:1024px) {
    .boxes {
        padding: 0rem 2rem;
    }
    .box1 {
        display: flex;
        flex-direction: column;
    }
    .box1>div:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
    }
    .box1>div:nth-of-type(2) {
        transform: translateY(-5rem);
        display: flex;
        align-items: flex-start;
    }
    .box1>div:nth-of-type(3) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .box2 {
        display: flex;
        flex-direction: column;
    }
    .box2>div:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
    }
    .box2>div:nth-of-type(2) {
        display: flex;
        align-items: flex-end;
    }
.box2>div:nth-of-type(2)>h2 {
    position: relative;
    display: flex;
    left: 0%;
    
}
.box2>div:nth-of-type(2)>p {
    margin-top: 0rem;
}
.box2>div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box1>div:nth-of-type(2)>h5  {
    font-size: 18px;
}
.box2>div:nth-of-type(2)>h5  {
    font-size: 18px;
}
.box2>div:nth-of-type(2)>p {
    font-size: 16px;
}
.box1>div:nth-of-type(2)>p {
    font-size: 16px;
}
.box3 {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 35rem;
}

.box3>div:nth-of-type(3)>img {
    object-fit: contain;
}
.box3>div:nth-of-type(2) {
    display: flex;
    align-items: flex-start;
  
}
.box3>div:nth-of-type(2)>h2 {
    position: relative;
    display: flex;
    left: 0%;
    
}
.box3>div:nth-of-type(2)>p {
    margin-top: 0rem;
    margin-left: 0rem;
}
.box3>div:nth-of-type(2)>h5 {
    margin-left: 0rem;
}
.line1 {
    margin-left: 0rem;
}
.box3>div:nth-of-type(1) {
    display: flex;
  /*  order:2; */
    flex-direction: row;
}
.box3>div:nth-of-type(1)>img:nth-of-type(2) {
    transform: translate(0rem,0rem);
}
.inner-text {
    padding: 0rem 2rem;
}
.p-text {
    width: 60%;
}
}


@media screen and (max-width:768px) {
    .sm {
        font-size: 30px;
    }
    .bg {
        font-size: 80px;
    }
    .imga {
        display: flex;
        flex-direction: column;
    }
    .text-content>div:nth-of-type(1) {
        left: 5%;
    }
    .text-content>div:nth-of-type(2) {
        left: 5%;
    }
    .text-content>div:nth-of-type(4) {
        left: 64%;
    }
}

@media screen and (max-width:568px)  {
    
.box1>div:nth-of-type(2)>h2,.box2>div:nth-of-type(2)>h2,.box3>div:nth-of-type(2)>h2 {
    font-size: 80px;
    margin-left: 0rem;
}
.box1>div:nth-of-type(2)>h5,.box2>div:nth-of-type(2)>h5,.box3>div:nth-of-type(2)>h5 {
    margin-left: 0rem;
}
.box1>div:nth-of-type(2)>p,.box2>div:nth-of-type(2)>p,.box3>div:nth-of-type(2)>p {
    margin-left: 0rem;
}
.line {
    margin-left: 0rem;
}
.line1 {
    margin-left: 0rem;
}
.box1>div:nth-of-type(3) {
    flex-direction: column;
}
.box2>div:nth-of-type(3) {
    flex-direction: column;
}
.box3>div:nth-of-type(1) {
    flex-direction: column;
}
.imga {
    flex-direction: row;
}
.footer-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo1 {
    text-align: center;
}
.bg {
    font-size: 60px;
}
.text-content>div:nth-of-type(3) {
    left: 65%;
  
}
.text2>div {
    height: 130px;
    width: 130px;
    
}
.m-text>div:nth-of-type(2) {
    top: -35%;
    left: 50%;
}
.m-text>div:nth-of-type(3) {
    top: 70%;
}
.p-text {
    width: 150%;
    margin-top: 8rem;
}
}

@media screen and (max-width:470px) {
    .text2 {
        transform: translateY(-6rem);
    }
}

@media screen and (max-width:425px) {
    .box1>div:nth-of-type(2)>h2,.box2>div:nth-of-type(2)>h2,.box3>div:nth-of-type(2)>h2 {
        font-size: 60px;
        margin-left: 0rem;
    }
    .sm {
        font-size: 25px;
    }
    .bg {
        font-size: 50px;
    }
    .text-content>div:nth-of-type(3) {
        left: 75%;
       
    }
    .text2>div {
        left: 20% !important;
    }
   
}

@media screen and (max-width:320px) {

    .text-content>div:nth-of-type(3) {
        left: 80%;
    }
}


@media screen and (max-width:1200px) {
.text2>div {
    left: 0%;
}
}

@media screen and (max-width:1200px) {
.m-text>div:nth-of-type(2)  {
top: -20%;
    }
.m-text>div:nth-of-type(3) {
        top: 60%;
    }

    }
    
